# dir for service deployment
#deploy_dir=/home/user/list
deploy_dir=

#model=/home/user/list
models=

## pass for rabbimq
rabbitmq_pass=

## pass for rabbimq
mongo_pass=

## ports
http_port=80
https_port=443

## URL
## host_external_url=https://list.airenas.eu:7080
host_external_url=

## SMTP settings
smtp_host=smtp.gmail.com
smtp_port=587
smtp_username=
smtp_password=
