.idea/**/*
src/web/ear-app/.editorconfig
deploy/local/upload/deploy/**
deploy/local/status/deploy/**
deploy/local/manager/deploy/**
deploy/local/audio.prepare/deploy/**
deploy/local/diarization/deploy/**
volumes/**
src/decode/audio.prepare/audio.prepared/**
src/decode/diarization/decoded/**
ataskaitos/Koncepcinė architektūra - AFT posistemė.doc
deploy/production/membrane/deploy/membrane.service
deploy/production/mouth/deploy/mouth.service
src/decode/data/**
deploy/local/transcription/deploy/**
src/decode/transcription/steps
src/decode/transcription/utils
deploy/local/result.make/deploy/**
deploy/local/rabbitmq_pass
deploy/local/.env
deploy/local/buildSrc/.build.gradle.swp
deploy/local/secret.properties
deploy/local/buildSrc/**
deploy/local/inform/deploy/**
**/.env
**/.vscode/**
deploy/local/traefik/acme.json
ataskaitos/**
deploy/local/result/deploy/**
src/web/ear-app/src/environments/environment.prod.ts
src/decode/transcription/conf
deploy/atea/config
src/decode/result.make/steps
src/decode/result.make/utils
src/decode/result.make/Makefile.options
words/**
deploy/atea/kconfig/config
deploy/atea/secrets/secrets.yml
deploy/tk8s/**
src/examples/wav/**
src/examples/*.wav
deploy/local/kafka.int/deploy/**
src/examples/wav1/**
src/tools/fix.trans/**
deploy/vdu/services/wwwdata/**
src/examples/test_wer.sh
src/examples/compute-wer
testavimas/20190617/testdata/**
testavimas/20190617/bin/compute-wer
deploy/local/punctuation/deploy/**
deploy/atea/volume-helper/kaldi_apps
deploy/atea/volume-helper/kaldi_models
deploy/atea/volume-helper/diarization_models
deploy/atea/volume-helper/punctuation_models

src/tools/punct.file/**
deploy/local/clean/deploy/**
deploy/atea/ki/**
deploy/vdu/Makefile.options
deploy/local/kaldi/apps/**
testing/2020**/**
testing/scripts/compute-wer
testing/2019**/**
deploy/local/dispatcher/deploy/**
tmp/**
deploy/local/rescore/deploy/**
src/tools/internal/pkg/test/mocks/**
deploy/local/metrics/deploy/**
src/tools/int.to.word/tmp/**
testing/testdata/**
testing/tcorpus/**
deploy/run-docker/Makefile.options
**/Makefile.options.local
testing/ateav2.config
deploy/atea/volume-helper/helper.yml
deploy/atea/deployments/kafka.integration.yml
deploy/atea/deployments/metrics.yml
deploy/atea/deployments/transcription.yml
sfgparse/**
src/decode/audio.prepare/fs/**
src/decode/diarization/fs/**
src/decode/diarization-alt/fs/**
deploy/local/diarization-alt/deploy/**
src/decode/result.make/fs/**
deploy/frontend/Makefile.options
testing/8kHz/2021*/**
testing/8kHz/vdu.config
testing/8kHz/old/**
src/decode/testing/Makefile.options
testing/8kHz/lat/0a2948bb-b3d9-4fc4-82ba-3a1c890728f4.gz
deploy/local/zoom/deploy/**
src/decode/audio.merge/fs/**
deploy/local/audio.merger/deploy/**
src/decode/join.results/fs/**
deploy/local/join.results/deploy/**
testing/2021*/**
testing/2022*/**
deploy/local/channels.splitter/deploy/**
src/decode/channels.split/fs/**