.idea/**/*
src/web/ear-app/.editorconfig
deploy/local/upload/deploy/**
deploy/local/status/deploy/**
deploy/local/manager/deploy/**
deploy/local/audio.prepare/deploy/**
deploy/local/diarization/deploy/**
volumes/**
src/decode/audio.prepare/audio.prepared/**
src/decode/diarization/decoded/**
ataskaitos/Koncepcinė architektūra - AFT posistemė.doc
deploy/production/membrane/deploy/membrane.service
deploy/production/mouth/deploy/mouth.service
src/decode/data/**
deploy/local/transcription/deploy/**
src/decode/transcription/steps
src/decode/transcription/utils
deploy/local/result.make/deploy/**
deploy/local/rabbitmq_pass
deploy/local/.env
deploy/local/buildSrc/.build.gradle.swp
deploy/local/secret.properties
deploy/local/buildSrc/**
deploy/local/inform/deploy/**
**/.env
**/.vscode/**
deploy/local/traefik/acme.json
ataskaitos/**
deploy/local/result/deploy/**
src/web/ear-app/src/environments/environment.prod.ts
src/decode/transcription/conf
