apiVersion: v1
kind: Secret
metadata:
  name: rabbit-mq-login
  namespace: aft
data:
  username: {{rabbit-mq-user}}
  password: {{rabbit-mq-pass}}
---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-login
  namespace: aft
data:
  username: {{mongo-user}}
  password: {{mongo-pass}}  