UPLOAD_SERVICE=https://atpazinimas.intelektika.lt/ausis/transcriber
STATUS_SERVICE=https://atpazinimas.intelektika.lt/ausis/status.service
RESULT_SERVICE=https://atpazinimas.intelektika.lt/ausis/result.service
model?=ben-3_0
model_med=$(model)
ns?=
NUMBER_OF_SPEAKERS=$(ns)
test_dir=20211001-$(model)-intelektika-$(ns)
wordfix_dir?=../../lm-scripts/wordfix2
