@import './../../styles.scss';
@import './../../theme.scss';

.result-form {
  min-width: 250px;
  max-width: 1000px;
  width: 100%;
}

.transcription-control {
  width: 100%;
  align-items: center;
  display: flex;
}

.transcription-input {
  display: inline-block;
  width: 85%;
}

.transcription-button {
  margin-left: 10px;
}

.result-full-width {
  width: 100%;
}

.header-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
}

.result-text {
  white-space: pre-wrap;
}

.error-text {
  white-space: pre-wrap;
}

.result-progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 20px;
}

.result-progress {
  margin: 0 10px;
}

.file-button {
  padding: 0 10px;
  margin-right: 10px;
}

.editor-button {
  padding: 0 10px;
  margin-left: 20px;
}

.result-header {
  margin-left: 0px;
  margin-bottom: 15px;
}

.result-circle {
  background: mat-color($primary);
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 50%;
  position: relative;
  color: white;
  text-align: center;
  display: inline-block;
}

.result-dot {
  background: white;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  position: relative;
  top: -15%;
  display: inline-block;
}

.result-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
  display: inline-block;
  margin-left: 15px;
}