.result-form {
    min-width: 250px;
    max-width: 1000px;
    //width: 100%;
  }

  .result-card {
    width: 100%;
  }

  .audio-card {
    width: 100%;
  }

  .transcription-input-card {
    width: 100%;
  }

  .result-full-width {
    width: 100%;
  }

  .header-title { 
    line-height: 24px; 
    font-weight: bold; }

  .result-progress-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }
  
  .result-progress {
    margin: 0 10px;
  }

  .audio-wave {
    border-style: solid;
    border-width: 1px;
    border-color: grey; 
    display:inline-block;
    width: 95%;
  }

  .audio-control {
    width: 100%;
    align-items: center;
    display: flex;
  }

  .audio-button{
    min-width: 0px;
    padding: 0 5px;
  }