@import './../../styles.scss';

.result-form {
    min-width: 250px;
    max-width: 1000px;
    width: 100%;
  }

  .result-card {
   // width: 100%;
  }

  .audio-card {
   // width: 100%;
  }

  .transcription-control {
    width: 100%;
    align-items: center;
    display: flex;
  }

  .transcription-input {
    display:inline-block;
    width: 85%;
  }

  .transcription-button{
    margin-left: 10px;
  }

  .result-full-width {
    width: 100%;
  }

  .header-title { 
    line-height: 24px; 
    font-weight: bold; }

  .result-text { 
      white-space: pre-wrap; }  
  
  .error-text { 
        white-space: pre-wrap; }        

  .result-progress-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 20px;
  }
  
  .result-progress {
    margin: 0 10px;
  }

  .file-button{
    padding: 0 10px;
    margin-right: 10px;
}
