export const environment = {
  production: true,
  sendFileUrl: 'transcriber/',
  statusUrl: 'status.service/',
  resultUrl: 'result.service/',
  editorUrl: 'editor/#/lt/remote-import/',
  version: 'BUILD_VERSION'
};
