<nav mat-tab-nav-bar>
  <div mat-tab-link routerLink="/upload" routerLinkActive="active">
    <span>Audio</span><i class="material-icons nav-icon" routerLinkActive="active">arrow_upward</i>
  </div>
  <div mat-tab-link routerLink="/results" routerLinkActive="active">
    <span>Rezultatas</span><i class="material-icons nav-icon" routerLinkActive="active">arrow_downward</i>
  </div>
</nav>
<p></p>
<router-outlet></router-outlet>
<div class="footer">
  &copy; {{copyrightDate()}}, Vytauto Didžiojo universitetas,
  <a rel="source" href="https://bitbucket.org/airenas/list">bitbucket.org/airenas/list</a>
</div>