@import './../theme.scss';

nav a.active {
    color: mat-color($primary);
}

nav div.active {
    color: mat-color($primary);
}

.nav-icon {
    transform: scale(0.5);
}

.nav-icon.active {
    transform: scale(0.7);
}

.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 1rem;
    height: 0px;
    padding-top: 4px;
    background-color: #efefef;
    font-family: mat-font-family($app-typography);
    font-weight: lighter;
    font-size: 10px;
}
