<mat-card>
  <mat-card-header>
    <mat-card-title>Transkripcijos servisas</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <input id="hiddenFileInput" hidden type="file" accept=".wav,.mp3" (change)="filesChange($event.target.files)">
    <mat-form-field>
      <input id ="fileInput" matInput placeholder="Failas" readonly="true" [(ngModel)]="selectedFileName" (click)="openInput()" >
    </mat-form-field>
    <div id ="fileSizeDiv" *ngIf="selectedFile">Dydis: {{selectedFile.size  | filesize}}</div>
  </mat-card-content>
  <mat-card-actions>
    <button id="selectFileButton" mat-button (click)="openInput()">
      <i class="material-icons">attachment</i>
    </button>
    <button id="uploadButton" mat-raised-button color="primary" [disabled]="!selectedFile" (click)="upload()">Siųsti failą transkripcijai</button>
  </mat-card-actions>
</mat-card>