@import './../../theme.scss';
@import './../../styles.scss';

.upload-form {
  min-width: 250px;
  max-width: 300px;
  width: 100%;
}

.upload-input-width {
  min-width: 250px;
  width: 100%;
}

.upload-select-button {
  min-width: 0px;
  width: 15%;
  padding: 0 0px;
  margin-left: -10%;
  opacity: 0.7;
}

.upload-file-control {
  width: 70%;
}

.upload-file-container {
  width: 100%;
  align-items: center;
  display: flex;
}

.audio-wave {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: inline-block;
  width: 85%;
}

.file-size-div {
  padding-bottom: 1.25em;
}

.mic-wave {
  border-style: solid;
  border-width: 1px;
  border-color: grey;
  display: inline-block;
  width: 95%;
}

.mic-audio-control {
  width: 100%;
}

.mic-button {
  min-width: 0px;
  margin-left: 11%;
  padding: 0 5px;
}

.upload-spinner {
  margin: 0 20px;
}

.stepper {
  position: relative;
  min-height: 32px;
}

.stepper>div:first-child {
  position: static;
  height: 0;
}

.stepper>div:last-child {
  margin-left: 24px;
  padding-left: 16px;
}

.stepper-line {
  position: absolute;
  border-left: 1px solid gainsboro;
  left: 12px;
  bottom: 5px;
  top: 29px;
}

.stepper-circle {
  background: mat-color($primary);
  width: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 16px;
  position: relative;
  color: white;
  text-align: center;
}

.stepper:last-child .stepper-line {
  display: none;
}

.stepper-title {
  line-height: 24px;
  font-weight: normal;
  font-size: 18px;
}