<mat-card class="upload-form">
  <mat-card-content>
    <div class="stepper">
      <div>
        <div (click)="showVersion()" class="stepper-circle">1</div>
        <div class="stepper-line"></div>
      </div>
      <div>
        <div class="stepper-title">El. paštas rezultatams</div>
        <mat-form-field class="full-width" class="upload-input-width">
          <input id="emailInput" name="email" matInput [(ngModel)]="email" placeholder="El. paštas" type="email"
            matTooltip="Įveskite el. paštą">
        </mat-form-field>
      </div>
    </div>
    <div class="stepper">
      <div>
        <div class="stepper-circle">2</div>
        <div class="stepper-line"></div>
      </div>
      <div>
        <div class="stepper-title">Garso failas arba įrašymas</div>
        <div class="upload-input-width">
          <div class="upload-file-container">
            <mat-form-field class="upload-file-control">
              <input id="hiddenFileInput" hidden type="file" accept=".wav,.mp3,.mp4,.m4a"
                (change)="filesChange($event.target.files)">
              <input id="fileInput" matInput placeholder="Failas" readonly="true" [(ngModel)]="selectedFileName"
                (click)="openInput()" matTooltip="Pasirinkite failą">
            </mat-form-field>
            <button class="upload-select-button" id="selectFileButton" mat-button (click)="openInput()">
              <i class="material-icons">attachment</i>
            </button>

            <button *ngIf="!recorder.recording" class="mic-button" id="startRecordButton" color="primary" mat-button
              [disabled]="canStopAudio()" (click)="startRecord()">
              <i class="material-icons">mic</i>
            </button>
            <button *ngIf="recorder.recording" class="mic-button" color="warn" id="stopRecordButton" mat-button
              (click)="stopRecord()">
              <i class="material-icons">stop</i>
            </button>
          </div>
        </div>
        <div [hidden]="recorder.recording || selectedFile == null">
          <div class="audio-control">
            <div id="audioWaveDiv" class="audio-wave"></div>
            <button class="audio-button" id="playAudioButton" color="primary" mat-button [disabled]="!canPlayAudio()"
              (click)="playAudio()" *ngIf="canPlayAudio()">
              <i class="material-icons">play_arrow</i>
            </button>
            <button class="audio-button" id="stopAudioButton" color="warn" mat-button [disabled]="!canStopAudio()"
              (click)="stopAudio()" *ngIf="canStopAudio()">
              <i class="material-icons">stop</i>
            </button>
          </div>
          <div id="fileSizeDiv" *ngIf="selectedFile" class="file-size-div" >Dydis: {{selectedFile.size | filesize}}</div>
        </div>
        <div [hidden]="!recorder.recording">
          <div class="mic-audio-control">
            <div id="micWaveDiv" class="mic-wave"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="stepper">
      <div>
        <div class="stepper-circle">3</div>
        <div class="stepper-line"></div>
      </div>
      <div>
        <div class="stepper-title">Atpažintuvas</div>
        <mat-form-field class="full-width" class="upload-input-width">
          <mat-select id="recognizerSelect" name="recognizer" matInput [(ngModel)]="recognizer"
            matTooltip="Pasirinkite atpažintuvą">
            <mat-option *ngFor="let rec of recognizers" [value]="rec.id" matTooltip="{{rec.description}}"
              id="recognizerOption-{{rec.id}}">{{rec.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="stepper">
      <div>
        <div class="stepper-circle">4</div>
        <div class="stepper-line"></div>
      </div>
      <div>
        <div class="stepper-title">Diktorių skaičius</div>
        <mat-form-field class="full-width" class="upload-input-width">
          <mat-select id="speakerCountSelect" name="speakerCount" matInput [(ngModel)]="speakerCount"
            matTooltip="Pasirinkite diktorių skaičių">
            <mat-option *ngFor="let sp of speakerCountValues" [value]="sp.id" matTooltip="{{sp.tooltip}}"
              id="speakerCountOption-{{sp.id}}">{{sp.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="stepper">
      <div>
        <div class="stepper-circle">5</div>
        <div class="stepper-line"></div>
      </div>
      <div>
        <div class="stepper-title">Siuntimas transkripcijai</div>
        <button *ngIf="!sending" id="uploadButton" mat-raised-button color="primary" [disabled]="!isValid()"
          (click)="upload()">Siųsti</button>
        <mat-progress-spinner id="uploadSpinner" *ngIf="sending" class="upload-spinner" color="primary"
          mode="indeterminate" diameter="40">
        </mat-progress-spinner>
      </div>
    </div>
  </mat-card-content>
</mat-card>