UPLOAD_SERVICE=https://prn509.vdu.lt:7080/ausis/transcriber
STATUS_SERVICE=https://prn509.vdu.lt:7080/ausis/status.service
RESULT_SERVICE=https://prn509.vdu.lt:7080/ausis/result.service
model?=ben-tel-1p
NUMBER_OF_SPEAKERS=$(ns)
test_dir=20210316-$(model)-vdu-$(ns)
wordfix_dir?=../../../lm-scripts/wordfix1